@model Contracts.ManagementPresonsContracts.PersonsContracts.PersonsChangePassword
@{
    ViewData["title"] = "رمز عبور جدید";
}
<div class="modal-header">
    <h4 class="modal-title">رمز عبور جدید</h4>
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="ChangePassword" method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Password">رمز عبور</label>
                    <input id="Password" type="text" class="form-control" required asp-for="Password">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="RePassword">تکرار رمز عبور</label>
                    <input id="RePassword" type="text" class="form-control" required asp-for="RePassword">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa fa-save"></i></button>
        </div>
    </div>
</form>