@model UserPermissionQueryModel
@using Configuration.Permissions;
@using _01_QueryManagement.Contracts.Permissions.User;
@using Configuration.Permissions.Users;
<ul class="nav navbar-nav">
    <li>
        <a asp-page="/Index" asp-page-handler="Logout" title="خروج"><i class="mdi mdi-directions"></i></a>
    </li>
</ul>
<ul class="nav navbar-nav">
    <li>
        <a title="تنظیمات" asp-page="/Settings"><i class="mdi mdi-settings"></i></a>
    </li>
</ul>
@if (Model.AdminUsers == UserPermissions.AdminUsers || Model.ListUsers == UserPermissions.ListUsers)
{
    <ul class="nav navbar-nav">
        <li>
            <a asp-page="/Users/Index" title="مدیریت کاربران"><i class="mdi mdi-account-settings-variant"></i></a>
        </li>
    </ul>
}