@model UserPermissionQueryModel
@using Configuration.Permissions;
@using _01_QueryManagement.Contracts.Permissions.User;
@using Configuration.Permissions.Users;
<ul class="nav navbar-nav">
    <li>
        <a asp-page="/Index" asp-page-handler="Logout" title="خروج"><i class="mdi mdi-directions"></i></a>
    </li>
</ul>