@page
@model ServiceHost.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}


<section class="content">
    <div class="row">
        <div class="box-money">
            <div class="box-money-title">
                <p>دالر</p>
                <span> تبدیل به </span>
                <p>افغانی</p>
            </div>
            <div class="box-money-sell">
                <label class="form-label" >فروش</label>
                <input id="Amount" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric'" >
                <input id="Amount" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric'" >
            </div>
            <div class="box-money-bey">
                <label class="form-label" >خرید</label>
                <input id="Amount" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric'" >
                <input id="Amount" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric'" >
            </div>
            <div class="box-money-footer">
                <span>۱۴۰۲-۱۰-۱۲  ۰۸:۳۵:۳۴</span>
                <a href="#" class="btn btn-sm btn-icon btn-outline-success">آپدیت</a>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/Theme/assets/formatter/formatter.js"></script>
    <script src="~/Theme/assets/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/formatter.js"></script>
}