@model Contracts.PersonnelContracts.PersonnelEdit
@{
    ViewData["title"] = "ویرایش کارمند";
}
<div class="modal-header">
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa-solid fa-close fa-lg"></i></a>
    <h4 class="modal-title">ویرایش کارمند</h4>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="Edit" method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" asp-for="FullName">نام</label>
                    <input type="text" class="form-control" required asp-for="FullName" id="FullName">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" asp-for="Fathers_Name">نام پدر</label>
                    <input type="text" class="form-control" asp-for="Fathers_Name" id="Fathers_Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Mobiles">شماره تماس</label>
                    <input id="Mobiles" dir="ltr" type="text" class="form-control" asp-for="Mobile">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" asp-for="Cart_Id">نمبرتذکره</label>
                    <input type="text" class="form-control" asp-for="Cart_Id" id="Cart_Id">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" asp-for="Address">آدرس فعلی</label>
                    <input type="text" class="form-control" asp-for="Address" id="Address">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Photo">عکس</label>
                    <input type="file" id="Photo" class="form-control" asp-for="Photo" accept="image/*">
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa-solid fa-save fa-lg"></i></button>
        </div>
    </div>
</form>